<%- include('./partials/header') %> 

<h1>onur</h1>

<% for(i=0;i<mdl1.length;i++) { %>
<h1> <%= mdl1[i].mod %> </h1>
<p>afsfd</p>
<img class="img" src=<%= mdl1[i].image %>>

<p> <%= mdl1[i].year %> </p>


<% }  %>

<%- include('./partials/footer') %> 